A==1.0
accelerate==0.32.1
adbc_driver_manager==1.1.0
adbc_driver_postgresql==1.1.0
adbc_driver_sqlite==1.1.0
adrest==3.3.2
aesara==2.9.3
aiodns==3.2.0
altair_saver==0.5.0
anywidget==0.9.13
apache_beam==2.57.0
apex==0.9.10dev
AppKit==0.2.8
argcomplete==3.4.0
array_api_strict==2.0.1
astroid==3.2.2
astunparse==1.6.3
async_timeout==4.0.3
asyncssh_unofficial==0.9.2
atheris==2.3.0
audiocraft==1.3.0
av==12.2.0
azureml==0.2.7
B==1.0.0
beartype==0.18.5
black==24.4.2
bokeh==3.5.0
boto3==1.34.140
botocore==1.34.140
brotli==1.1.0
brotlicffi==1.1.0.0
catboost==1.2.5
causal_conv1d==1.4.0
cbor==1.0.0
cchardet==2.1.7
classy_vision==0.7.0
clr==1.0.3
codecarbon==2.5.0
comet_ml==3.43.2
conda==4.3.16
configobj==5.0.8
ConfigParser==7.0.0
contextlib2==21.6.0
cookiecutter==2.6.0
coremltools==7.2
cppyy==3.1.2
ctypes_snappy==1.03
curio==1.6
cycler==0.12.1
Cython==3.0.10
cytoolz==0.12.3
dagshub==0.3.29
dall_e==0.1
decord==0.6.0
deeplearning==0.0.1
diffusers==0.29.2
disco==1.40.4
dl==0.1.0
docrepr==0.2.0
dvclive==3.46.1
elasticsearch==8.14.0
email_validator==2.2.0
essentia==2.1b6.dev1177
etcd==2.0.8
eval_type_backport==0.2.0
expecttest==0.2.1
fairseq==0.12.2
fairseq2==0.2.1
faiss==1.5.3
fastai==2.7.15
fastapi==0.111.0
fastparquet==2024.5.0
flash_attn==2.5.9.post1
flatdict==4.0.1
flytekit==1.13.0
fontTools==4.53.1
foo==.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
ftfy==6.2.0
fugashi==1.3.2
g2p_en==2.1.0
galore_torch==1.0
gdown==5.2.0
gensim==4.3.2
gevent==24.2.1
gguf==0.6.0
gitdb_speedups==0.1.0
gluonnlp==0.10.0
gmpy2==2.2.0
gobject==0.1.0
gunicorn==22.0.0
h2==4.1.0
h5py==3.11.0
haiku==0.01
hf_transfer==0.1.6
histogram==0.2.1
HTMLParser==0.0.2
hypothesis==6.105.0
InquirerPy==0.3.4
intel_extension_for_pytorch==2.3.100
ipadic==1.0.0
ipykernel==6.29.5
ipyparallel==8.8.0
ipywidgets==8.1.3
isal==1.6.1
isoduration==20.11.0
jax==0.4.30
jaxlib==0.4.30
jieba==0.42.1
jnius==1.1.0
joblibspark==0.5.2
JPype1==1.5.0
jsonpointer==3.0.0
kenlm==0.2.0
keras_nlp==0.14.0
kerchunk==0.2.5
keyring==25.2.1
laion_clap==1.1.4
lark==1.1.9
levenshtein==0.25.1
librosa==0.10.2.post1
lightgbm==4.4.0
lomo_optim==0.1.1
lz4==4.3.3
lzmaffi==0.3.0
mamba_ssm==2.2.2
maps==5.1.1
marisa_trie==1.2.0
Mask2Former==0.1.5
matchpy==0.5.5
matplotlib==3.9.1
megatron==0.5.1
memory_profiler==0.61.0
minijinja==2.0.1
ml_datasets==0.2.0
mock==5.1.0
monkeytype==23.3.0
moviepy==1.0.3
mrmr==0.9.2
mtrand==0.1
MultiScaleDeformableAttention==1.0
multiset==3.1.0
mx==3.2
mypy_boto3_s3==1.34.138
natten==0.17.1
natto==0.1.7
neptune==1.10.4
netifaces==0.11.0
nltk==3.8.1
numexpr==2.10.1
numpydoc==1.7.0
odfpy==1.4.1
olefile==0.47
onnxscript==0.1.0.dev20240704
openpyxl==3.1.5
optimum==1.21.2
optree==0.12.0
optuna==3.6.1
os_signpost==0.0.3
pathlib2==2.3.7.post1
pathy==0.11.0
pep517==0.13.1
pexpect==4.9.0
phonemizer==3.2.1
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
playwright==1.45.0
plotly==5.22.0
polars==1.0.0
pooch==1.8.2
pox==0.3.4
pretty_midi==0.2.10
psutil==6.0.0
py3nvml==0.2.7
py7zr==0.21.1
pyamg==5.2.1
pycares==4.4.0
pycocotools==2.0.8
pycosat==0.6.6
pyctcdecode==0.5.0
pycurl==7.45.3
pyczmq==0.0.4
pydot==2.0.0
pydy==0.7.1
pygit2==1.15.0
pygraphviz==1.13
PyInstaller==6.8.0
pymc==5.16.1
pymc3==3.11.6
pymorphy2==0.9.1
pymorphy3==2.0.2
pymupdf_fonts==1.0.5
pynvml==11.5.0
pyodide==0.0.2
PyOpenGL==3.1.7
pyperf==2.7.0
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.7.0
Pyro4==4.82
pysat==3.2.0
PySide==1.2.4
PySide2==5.15.2.1
PySide6==6.7.2
pyspark==3.5.1
pysqlite==2.8.3
pytest_fail_slow==0.6.0
pytest_timeout==2.3.1
pythainlp==5.0.4
python-dotenv==1.0.1
python_calamine==0.2.0
python_Levenshtein==0.25.1
pytorch_lightning==2.3.2
pytorch_quantization==2.2.1
pyvi==0.1.1
pywin32==306
pyxlsb==1.0.10
qtpy==2.4.1
railroad==0.5.0
rarfile==4.2
ray==2.31.0
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rhoknp==1.7.0
rjieba==0.1.11
s3fs==2024.6.1
s3prl==0.4.15
sacremoses==0.1.1
sage==0.0.0
scann==1.3.2
scikits.talkbox==0.2.5
scipy_doctest==1.3
sentencepiece==0.2.0
setuptools_scm==8.1.0
sigopt==8.8.3
sip==6.8.5
slack_sdk==3.31.0
sniffio==1.3.1
snowflake==0.10.0
soundfile==0.12.1
spacy_pkuseg==0.0.33
spacy_transformers==1.3.5
span==0.0.1
sparselinear==0.0.5
Sphinx==7.3.7
SQLAlchemy==2.0.31
starlette==0.37.2
sudachipy==0.6.8
symbols==0.0.0
symengine==0.11.0
t5x==0.0.0
tabulate==0.9.0
tensorboardX==2.6.2.2
tensorflow_hub==0.16.1
tensorflow_probability==0.24.0
tensorflow_text==2.16.1
tensorstore==0.1.63
testbench==0.1.2
testpath==0.6.0
tf2onnx==1.16.1
tf_keras==2.16.0
theano==1.0.5
thinc_apple_ops==0.1.5
tiktoken==0.7.0
timm==1.0.7
torch_npu==2.2.0
torch_xla==2.3.0
torcharrow==0.1.0
torchaudio==2.3.1
torchrec==0.7.0
torchvision==0.18.1
trajectory==0.1.1
trio==0.26.0
trove_classifiers==2024.7.2
unidic==1.1.0
unidic_lite==1.0.8
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvicorn==0.30.1
uvloop==0.19.0
vectors==1.0.0
vegafusion==1.6.9
vissl==0.1.6
viztracer==0.16.3
webcolors==24.6.0
wget==3.2
xarray==2024.6.0
xformers==0.0.26.post1
xgboost==2.1.0
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
xxhash==3.4.1
yapf==0.40.2
z3==0.2.0
zstandard==0.22.0
